.thumbnail {
    .thumbnail-background {
        height: 100%;
        left: 50%;
        margin-left: -25%;
        position: absolute;
        top: 0;
        width: auto;
    }
    .thumbnail-foreground {
    
    }
}