.photo-gallery {
	
}

.photo-gallery__photo {
	& > img {
		height: 100%;
		width: auto;
	}
}

ul.photo-gallery--inline {
	@include scut-list-unstyled();
}

.photo-gallery--inline {
	@extend .photo-gallery;

	display: block;

	& > .photo-gallery__photo {
		display: inline-block;
		height: 100%;
	}
}

