.thumbnail {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: border-color .15s linear;
  
    .thumbnail__background {
        $maxBgWidth: 500px;

        height: 100%;
        left: 50%;
        margin-left: -($maxBgWidth / 2);
        position: absolute;
        text-align: center;
        top: 0;
        width: $maxBgWidth;
        z-index: 0;
        img {
            display: inline-block;
            height: 100%;
            width: auto;
        }
    }

    .thumbnail__text {
        $animDuration: .5s;
        $animEasing: ease-in;

        box-sizing: border-box;
        left: 0;
        position: absolute;
        text-align: left;
        right: 0;
        z-index: 1;
    }

    .thumbnail__text--top,
    .thumbnail__text--bottom {
        @extend .thumbnail__text;
    }
    .thumbnail__text--top {
        top: 0%;
        
        & > * {
            height: 100%;
            overflow: hidden;
        }
    }
    .thumbnail__text--bottom {
        padding-bottom: $half-spacing-unit;

        & > * {
            height: 100%;
        }
    }
  
    &:hover {
        .thumbnail__text--bottom {
            bottom: 0;
        }
    }
}