.page__header {
    overflow: hidden;
    position: relative;
    
    @include scut-side-shadow(bottom, .5rem, $c-shadow-dark);

    .page__header__bar {
        @include scut-inline-container();

        float: left;
        height: 3rem;
        margin-top: 2rem;
        position: relative;
        table-layout: fixed;
        z-index: 1;

        .page__header__title,
        .page__header__search {
            background-color: $c-bg-light;
            display: inline-block;
            
            vertical-align: middle;
        }
        
        .page__header__title {
            padding: 0 $half-spacing-unit;
        }
        
        .page__header__search {
            padding-left: $half-spacing-unit;
        }
    }

    .page__header__slider {
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
}
