.page--offer {

	.page__content__column--left {
		@extend .page__content__column;

		width: 75%;
	}

	.page__content__column--right {
		@extend .page__content__column;

		width: 25%;
	}

	.offer__header {
		margin-bottom: $quarter-spacing-unit;
		overflow: hidden;
		position: relative;

		&:before {
			top: 50%;
		}

		@include scut-before() {
			background-color: $c-fg-acc;
			display: block;
			height: $rpx;
			left: 0;
			margin-top: -($rpx / 2);
			position: absolute;
			right: 0;
			z-index: 0;
		}

		h2 {
			background-color: $c-bg-light;
			display: inline-block;
			margin-left: $base-spacing-unit;
			padding: 0 $quarter-spacing-unit;
			position: relative;
			z-index: 1;
		}
	}

	.offer__content {
		background-color: $c-bg-acc-light;
		border: 1px solid $c-bg-dark {
			radius: .4rem;
		};
		box-sizing: border-box;
		padding: $base-spacing-unit;
	}

	.offer__author {

	}


	ul.offer__pictures,
	.offer__description {
	}

	ul.offer__pictures {
		@extend .photo-gallery--inline;

		height: 15rem;
		margin-bottom: $base-spacing-unit; }
		.offer__pictures__picture {
			@extend .photo-gallery__photo;

			& > img {
				border: 1px solid $c-shadow-dark;
				box-sizing: border-box;
			}
		}
		.offer__pictures__picture--preview {
			@extend .photo-gallery__photo--fullscreen; 
			
			border: 1px solid #000;
		}
			.offer__pictures__picture--preview__close {
				@extend .button--ico--close;
				@extend .button--empty;

				@include hover-effect--expand() {
					background-color: $c-fg-acc;
				}
				@include scut-absolute(-1px -1px n n);

				&:hover {
					color: $c-bg-light;
					transition: color .2s ease-out;
				}
			}	


	.offer__description {
		background-color: $c-bg-acc-light;
	}

	.offer__comments {
		margin: $base-spacing-unit * 2 0;
	}

		.offer__comments__header {
			margin-bottom: $quarter-spacing-unit;
			overflow: hidden;
			position: relative;

			&:before {
				top: 50%;
			}

			@include scut-before() {
				background-color: $c-fg-acc;
				display: block;
				height: $rpx;
				left: 0;
				margin-top: -($rpx / 2);
				position: absolute;
				right: 0;
				z-index: 0;
			}

			h3 {
				background-color: $c-bg-light;
				color: $c-fg-acc;
				display: inline-block;
				margin-left: $base-spacing-unit;
				padding: 0 $quarter-spacing-unit;
				position: relative;
				z-index: 1;
			}
		}

		.offer__comments__list {
			@include scut-list-unstyled();

			margin-left: $base-spacing-unit;

			.offer__comments__list {
				margin-left: $base-spacing-unit * 3.5;				
			}
		}
			.offer__comments__comment {
				$border-radius: .4rem;

				margin-top: $base-spacing-unit;

				.comment {
					@include scut-before() {
						@include scut-absolute(0 0 n (2 * $base-spacing-unit));

						background-color: $c-bg-dark;
						height: .2rem;
						z-index: 1;
					}

					overflow: hidden;
					position: relative;
				}

				.comment--offer-author-comment {
					&:before {
						background-color: $c-fg-acc;
					}
					
					.comment__header__author__name {
						color: $c-fg-acc;
					}
				}

				.comment,
				.comment__header {
					border-top-right-radius: $border-radius;
				}
					
				.comment__header,
				.comment__header:before,
				.comment__content {
					background-color: $c-bg-acc-light;
				}

				.comment__header,
				.comment__header:before,
				.comment__content {
					border-color: $c-bg-dark;
				}

				.comment__header__time {
					color: $c-fg-def-light;

					&:before {
						content: "‧";
						margin: 0 $quarter-spacing-unit;
					}
				}

				.comment__content {
					border-radius: 0 0 $border-radius $border-radius;
					padding-bottom: $half-spacing-unit;
				}

				.comment__header__author {
					position: relative;
					z-index: 1;
				}

				.comment__header__author__name {
					@extend strong;	
				}

				.comment__header__author__avatar:before {
					box-shadow: 0 0 .4rem .1rem $c-shadow-dark inset;
				}
			}
}