@keyframes unwind {
	0% {
		width: 0%;
	}
	33% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.page {
	
    margin: 0 auto;
    max-width: $page-size;
    min-height: 100%;
    // outline: 1px dotted #999;
    width: 100%;

  //   @include scut-before() {
		// @include scut-absolute();

		// animation: unwind 1s ease-in-out 0s 1;
		// background-color: $c-bg-light;
		// height: 3px;
		// width: 100%;
		// z-index: 1;
  //   }

    .page__row {
		overflow: auto;
	}

}