.image-picker,
.image-picker__adder,
.image-picker__adder__add-next,
.image-picker__adder__form,
.image-picker__adder__form > fieldset,
.image-picker__images,
.image-picker__image {
    height: 100%;   
}

.image-picker,
.image-picker__adder {
    display: inline-block;
    min-width: 15rem;
}

.image-picker {
	max-width: 100%;
    position: relative;
}

.image-picker__header {
    display: none;
}

.image-picker__adder {
    @include scut-absolute(0 0 n n);
}

	.image-picker__adder__form {
	    & > fieldset {
	        border: none;
	    }
	}

	.image-picker__adder__add-next {
		@extend .button--empty;
		@extend .button--ico--add;
		
    	@include scut-center-absolutely(10rem 10rem);

		font-size: 300%;
	}

.image-picker__images {
	display: block;
	overflow: hidden;
	width: 100%;
}
	.image-picker__images__list {
	    @extend .offer__pictures__list;

	    display: block;
	}
		.image-picker__images__image {
		    @extend .offer__pictures__picture;
		}