.image-picker,
.image-picker__adder,
.image-picker__adder__add-next,
.image-picker__adder__form,
.image-picker__adder__form > fieldset,
.image-picker__images,
.image-picker__image {
    height: 100%;   
}

.image-picker__header {
    display: none;
}

.image-picker__adder,
.image-picker__images {
    display: inline-block;
}

.image-picker__adder {
    position: relative;
}

	.image-picker__adder__form {
	    & > fieldset {
	        border: none;
	    }
	}

	.image-picker__adder__add-next {
		@extend .button--empty;
		@extend .button--ico--add;

	    @include scut-center-absolutely(10rem 10rem);

		font-size: 300%;
		left: 100%;
	    margin-left: 0;
	}

.image-picker__images {
	// @extend .offer__pictures;
	@include scut-absolute(0 15rem 0 0);

	box-sizing: border-box;
	padding-right: 15rem;
	width: 100%;
}
	.image-picker__images__list {
	    @extend .offer__pictures__list;
	}
		.image-picker__images__image {
		    @extend .offer__pictures__picture;
		}