.input--default {
	$borderRadius: .4rem;

	border: 1px solid $c-shadow-dark {
        radius: $borderRadius;
    };
    box-shadow: 0 0 1px $c-shadow-dark inset;
    color: $c-fg-def;
	outline: none;
	overflow: hidden;
	padding: $quarter-spacing-unit $half-spacing-unit;

	&:focus {
		box-shadow: 0 0 1px $c-shadow-dark inset, 0 0 3px $c-shadow-dark;
	}

	&[type="number"] {
		width: 3em;

		
	}
}