.edit-in-place {
	cursor: pointer;
	position: relative;
}

	.edit-in-place__input {
		@include scut-absolute(0 n 0 0);

		border: none;
		box-shadow: 0px 0px 1px 1px #000 inset;
		box-sizing: border-box;
		cursor: auto;
		font: inherit;
		font-family: inherit;
		font-weight: inherit;
		display: inline-block;
		line-height: inherit;
		outline: none;
		padding: inherit;
		width: 100%;
	}