ul, ol {
	&.no-bullets {
		&, & > li {
			list-style: none;
		}
	}

	&.horizontal {
		& {
			padding: {
				left: 0;
				right: 0;
			};
		}

		&, & > li {
			@extend .no-bullets;
			display: inline-block;
			margin: {
				left: 0;
				right: 0;
			};
		}	
	}
}