.search {

	& > fieldset {
		border: none;
	}
	
    .search__legend {
        display: none;
    }

    .search__input,
    .search__submit {
    	display: inline-block;
    }

    .search__submit {
		height: 100%;

    	& > .button {
    		line-height: inherit;
    	}
    }

}