.add-offer-comment {
	$avatar-size: 5.2 * $base-font-size;
	$border-width: 1px;

	.add-comment__submit,
	.add-comment__cancel,
	.add-comment__extension {
		display: inline-block;
		margin: {
			bottom: $half-spacing-unit;
			top: $base-spacing-unit;
		};
		vertical-align: middle;
	}

	&.active {
		min-height: 186px;

		.add-offer-comment__response {
			display: none;
		}

		.add-comment__submit {
			@extend .button--primary;

			display: inline-block;
		}
	}

	&:not(.active) {
		.add-comment__time,
		.add-comment__input,
		.add-comment__cancel,
		.add-comment__author__name {
			display: none;
		}

		.add-comment__header {
			height: .2rem; // like after making top decoration bar
			padding: 0;
		}

		.add-comment__author {
			position: static;
		}

		.add-comment__author__avatar {
			left: (-$avatar-size + $border-width);
			top: (-$border-width);
			z-index: 2;
		}

		.add-comment__content {
			border-left: none;
			line-height: $avatar-size;
			min-height: $avatar-size;
			padding: {
				bottom: 0;
				top: 0;
			};
		}

		.add-comment__submit,
		.add-comment__cancel,
		.add-comment__extension {
			line-height: $base-line-height;
			margin: {
				bottom: 0;
				top: 0;
			};
		}
	}


	&__response {
		@extend .button--primary;
		@extend .button--ico--order;
	}

	.add-comment__submit, 
	.add-comment__cancel {
		@extend .button--secondary;

		margin-left: $half-spacing-unit;
	}

	.add-comment__submit {
		@extend .button--ico--comment;
	}
}

.add-offer-comment--response {
	@extend .add-offer-comment;

	&.active {
		.add-comment__submit {
			display: none;
		}

		.add-offer-comment__response {
			display: inline-block;
		}
	}
}