.add-comment {
	@extend .comment;

	border: none;
	text-align: center;

	&:before {
		// content: none;
		top: auto;
	}

	& > fieldset {
		@include header-with-line("legend");

		border: none;
		padding: 0;

		&:before {
			top: $h3-size / 2;
		}

		& > legend {
			@extend h3;

			color: $c-fg-acc;
			font-weight: bold;
			text-align: left;
		}
	}
}
	.add-comment__wrapper {
		overflow: auto;

		&:not(.fixed) {
			.add-comment__header {
				&, &:before {
					// box-shadow: 0 -.1em 0 .2em $c-bg-dark;
				}
			}
		}
	}

	.add-comment__input {
		box-sizing: border-box;
		display: block;
		max-height: calc(#{5 * $base-line-height} + .3em);
		padding: .15em;
		resize: vertical;
		transition: height .2s ease-out;
		width: 100%;
	}

	.add-comment__submit,
	.add-comment__cancel {
		display: inline-block;
		margin-top: $base-spacing-unit;
	}

	.add-comment__header {
		@extend .comment__header;
		
		margin-top: $base-spacing-unit;
		text-align: left;

		&:after {
			background-color: $c-fg-acc;
		}
	}

	.add-comment__author {
		@extend .comment__author;
	}
		.add-comment__author__avatar {
			@extend .comment__author__avatar;
		}

		.add-comment__author__name {
			@extend .comment__author__name;
		}

	.add-comment__time {
		@extend .comment__time;
	}

	.add-comment__content {
		@extend .comment__content;
	}

