.offer {

    .offer__author,
    .offer__related {
        margin: $base-spacing-unit {
            right: 0;
        };
    }

    .offer__author {
        margin-top: 0;
    }


    .offer__author__header,
    .offer__related__header {
        @include header-with-line("h2");

        text-align: center;

        h2 {
            margin-left: 0;
        }
    }
    

    .offer__author__content {
        border: 1px solid $c-bg-dark;
        border-radius: .4rem;
        overflow: hidden;
        padding: $base-spacing-unit;
        background: $c-bg-acc-light;
    }
    
        .offer__author__avatar {
            // @include scut-square(100%);
            @include scut-after() {
                @include scut-absolute(0 0 0 0);
                
                box-shadow: 0 0 .4rem 1px $c-shadow-dark inset;
                z-index: 2;
            }
            
            margin-bottom: $half-spacing-unit;
            overflow: hidden;
            position: relative;
            width: 100%;
            
            &:before {
                @include scut-absolute(n 0 0 n);
            }
            
            & > img {
                display: block;
                position: relative;
                width: 100%;
                z-index: 1;
            }
            
            &:after,
            & > img {
                // border-bottom-right-radius: 3 * $base-spacing-unit;
                border-radius: .4rem;
            }
        }

        .offer__author__name,
        .offer__author__rating {
            color: $c-fg-acc;
            float: left;
        }
        
        .offer__author__name {
            @extend h3;

            margin: {
                right: 4 * $space-width;
            };
        }
        
        .offer__author__rating {
            @include scut-fonticon-label(inherit, '♥', $space: $space-width);
            
            &:before {
                color: inherit;
            }
        }

    .offer__related {
        & > .offers-thumbnails {
            margin: 0 auto;
            width: 75%; // to get same size of thumbnail as on main page

            & > .thumbnails-grid__container {
                padding-left: 0;
            }
        }
    }
}