.tooltip {
    background-color: rgba($c-fg-def, 0.9);
    border: 1px solid $c-shadow-dark {
        radius: .4em;
    };
    box-shadow: 0 0 .1em $c-shadow-dark;
    color: $c-bg-def;
    font: {
        family: $content-font;
        size: $base-font-size;
        weight: normal;
    };
    line-height: $base-line-height;
    padding: ($quarter-spacing-unit / 2) $quarter-spacing-unit;
}