/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$global-border-box: false;

$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;
$quarter-spacing-unit: $base-spacing-unit / 4;
$line-height-ratio: $base-line-height / $base-font-size;

$h1-size:           2.5 * $base-font-size; // .alpha
$h2-size:           1.875 * $base-font-size; // .beta
$h3-size:           1.5 * $base-font-size; // .gamma
$h4-size:           1.25 * $base-font-size; // .delta
$h5-size:           1 * $base-font-size; // .epsilon
$h6-size:           .875 * $base-font-size; // .zeta

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$rpx: 1rem/($base-font-size/1px);

$response-delay: .4s;

$page-size: 70rem;

$text-leading: .5em;
$text-trailing: .5em;
$space-width: .0625em;

$content-font: "Alegreya Sans", sans-serif;
$heading-font: "Englebert", sans-serif;


$c-transparent-white: rgba(255, 255, 255, 0);
$c-transparent-black: rgba(0, 0, 0, 0);

$c-fg-def: rgba(40, 40, 40, 1.0);
$c-fg-def-light: rgba(150, 150, 150, 1.0);

$c-fg-acc: rgba(170, 30, 30, 1.0); // reddish
// $c-fg-acc: rgba(204, 38, 73, 1.0); // purplish
// $c-fg-acc: rgba(153, 44, 75, 1.0); // darker purplish
$c-fg-acc-light: lighten($c-fg-acc, 3%);

$c-bg-light: rgba(234, 234, 234, 1.0);
$c-bg-dark: rgba(200, 200, 200, 1.0);
$c-bg-acc: rgb(255, 212, 198);
$c-bg-acc-light: rgb(255, 255, 255);
$c-bg-links: $c-bg-light;
$c-bg-def: $c-bg-light;

$c-shadow-dark: rgba(77, 77, 77, 0.7);

$c-adblock-dark: rgba(180, 0, 0, 1);
$c-adblock-light: rgba(212, 0, 0, 1);

$c-facebook-def: rgb(59, 89, 152);
$c-facebook-light: rgb(75, 103, 161);
$c-facebook-dark: rgb(19, 55, 131);

$c-github-def: rgb(245, 245, 245);
$c-github-light: rgb(255, 255, 255);
$c-github-dark: rgb(0, 0, 0);