@charset "UTF-8";

// Variables - must come first !!!
@import "_vars.scss";
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext);
html {
	height: 100%;
}

body {
	min-height: 100%;
}

body {
	border-color: $c-fg-def;
	font-family: "Oxygen", "Ubuntu Condensed", sans-serif;
	color: $c-fg-def;
}

img[src=""] {
	display: none;
}

// Frameworks
@import "compass";
@import "compass/layout";
@import "compass/layout/stretching";
@import "compass/typography";
@import "compass/typography/vertical_rhythm";
@import "compass/css3/images";

@import "compass-inuit";
@import "compass-inuit/generic/reset";

@import "scut";

// Utils
@import "utils/scut-extensions.scss";
@import "utils/inuit-extensions.scss";
@import "utils/compass-extensions.scss";

// Components
@import "components/links.scss";

@import "components/slider.scss";
@import "components/search.scss";
@import "components/thumbnail.scss";
@import "components/thumbnails-grid.scss";

// Site-specific components
@import "site-components/main-search.scss";
@import "site-components/offer-thumbnail.scss";
@import "site-components/offers-thumbnails.scss";

// Partials
@import "partials/page.scss";
@import "partials/header.scss";
@import "partials/content.scss";