.search--main {
    @extend .search;

    // box-shadow: 0 0 5px 2px $c-shadow-dark inset;
    border: 5px solid $c-shadow-dark;
    
    fieldset {
        position: relative;
    }
    
    .search__label {
        display: none;
    }
    
    .search__input {
        border: none;
        font-size: $h1-size;
        margin: 0;
        min-width: 13em;
        
        &:focus {
            outline: none;
        }
    }
    
    .search__submit {
        display: block;
        
        @include scut-ratio-box(1/1, 'button');
        @include scut-absolute(0 0 0 n);
        @include scut-hide-text();
    }
}