.search--main {
    @extend .search;

    box-shadow: 0 0 5px 2px $c-shadow-dark inset;
    
    fieldset {
        display: block;
        height: 100%;
    }
    
    .search__label {
        display: none;
    }
    
    .search__input {
        border: none;
        box-sizing: border-box;
        display: block;
        font-size: 1.75rem;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0;
        min-width: 15em;
        padding: 0;
        
        &:focus {
            outline: none;
        }
    }
}