.page__content__sidebar {
	

	form.page__content__sidebar__box {
		margin-bottom: $base-spacing-unit;

		fieldset {
			border: none {
				top: 1px solid $c-fg-acc;
			};

			legend {
				@extend h2;
				
				font-weight: bold;
				text-align: center;
				padding: 0 $quarter-spacing-unit;
			}
		}
	}

	form.login {
		overflow: visible;
		
		fieldset {
			text-align: center;
		}
	}

	.button--login {
		@extend .button--call-to-action;
		
		display: block;
		margin: 0 auto {
			top: $half-spacing-unit;
		};
		transition: background-color 0.2s linear;

		&:hover {
			transition: background-color 0.3s ease-out;
		}
	}

	.button--login--facebook {
		@extend .button--ico--facebook;
		
		@include hover-effect--expand() {	    
		    background-color: $c-facebook-light;
		    box-shadow: 0 0 .25em $c-facebook-light;
		};

		background-color: $c-facebook-def;
		border-color: $c-facebook-dark;
		overflow: hidden;
	}
	
	.button--contribute,
	.button--contribute + label {
	    float: left;
	}
	
	.button--contribute {
		@extend .button--empty;
		
		font-size: 150%;
		margin-right: $half-spacing-unit;
	}
	
	.button--contribute + label {
	    width: 80%;
	}
	
	.button--contribute--github {
		@extend .button--ico--github;
		
		@include hover-effect--expand() {	    
		    background-color: $c-github-light;
		    box-shadow: 0 0 .25em $c-github-light;
		};

		background-color: $c-github-def;
		border-color: $c-github-dark;
		overflow: hidden;
	}
}