.page__content__sidebar {
	

	form.page__content__sidebar__box {
		margin-bottom: $base-spacing-unit;

		fieldset {
			border: none {
				top: 1px solid $c-fg-acc;
			};

			legend {
				@extend h2;
				
				font-weight: bold;
				text-align: center;
				padding: 0 $quarter-spacing-unit;
			}
		}
	}

	form.login {
		overflow: visible;
		
		fieldset {
			text-align: center;
		}
	}

	.button--login {
		@extend .button--call-to-action;
		
		display: block;
		margin: 0 auto {
			top: $half-spacing-unit;
		};
		transition: background-color 0.2s linear;

		&:hover {
			transition: background-color 0.3s ease-out;
		}
	}

	.button--login--facebook {
		@extend .button--ico--facebook;

		background-color: $c-facebook-def;
		border-color: $c-facebook-dark;

		&:hover {
			background-color: $c-facebook-light;
		}
	}

	.button--contribute {
		@extend .button--empty;

		display: inline-block;
	}
}