.page__part--offer {
	@extend .page__part;

	.gallery {
		height: 15em;
	}

	.offer__description {
		
	}

	.offer__comment {
		
		
	}

	.offer__comment--response {
		@extend .offer__comment;

		background-color: #FEF;
	}

	.offer__comment--response--accepted {
		@extend .offer__comment--response;

		background-color: #EFF;
	}

}