@import "./page__content__offer__pictures.scss";
@import "./page__content__offer__comments.scss";

.page__content__offer {

	.offer__header {
		@include header-with-line("h2");
	}

	.offer__content {
		@include scut-inline-container();

		background-color: $c-bg-acc-light;
		border: 1px solid $c-bg-dark {
			radius: .4rem;
		};
		box-sizing: border-box;
		margin-bottom: $base-spacing-unit;
		padding: $base-spacing-unit;
		position: relative;
	}


	.offer__pictures,
	.offer__order {
		display: inline-block;
		vertical-align: middle;
		width: 50%;
	}


	.offer__description {
		background-color: $c-bg-acc-light;
		margin-top: $half-spacing-unit;
	}
	
	    .offer__description__paragraph {
		    margin-top: $half-spacing-unit;
		}


	.offer__tags {
		@include scut-list-inline();

		margin-top: $half-spacing-unit;
	}
		.offer__tags__tag {
			margin-right: $half-spacing-unit;

			& > a {
				box-shadow: 0 0 .2em $c-shadow-dark;
				border-radius: .4em;		
				padding: ($quarter-spacing-unit / 2) $quarter-spacing-unit;
				transition: background-color .2s linear, color 0s linear .1s;

				&:hover {
					background-color: $c-fg-acc;
					color: $c-bg-def;
					cursor: pointer;
					transition: background-color .2s ease-out $response-delay, color 0s ease-out $response-delay;
				}
			}
		}

	
	.offer__source {
		color: $c-fg-def-light;
	    margin-top: $base-spacing-unit;
	}
	    .offer__source__link {
	        @extend strong;
	        
	        color: $c-fg-acc;
	        display: inline-block;
            margin-left: $quarter-spacing-unit;
	    }
	    
	    .offer__source__favico {
	        @include scut-size(1em);
	        
	        display: inline-block;
	        margin: {
	            left: .25em;
	            right: .1em;
	        };
	        transform: translateY( 0.15em );
	    }

	.offer__order {
		text-align: center;
	}
		.offer__order__button {
			@extend .button--call-to-action;
			@extend .button--ico--order;

			margin-top: $half-spacing-unit;

			@include hover-effect--expand() {
				background-color: $c-fg-acc-light;
			};

			display: inline-block;
		}
}