.page__content__offer--create {
	@extend .page__content__offer;

	.offer--create__form {
		@extend .form;

		& > fieldset {
			border: none;

			& > legend {
				display: none;
			}

			.form__field {
				margin-top: $base-spacing-unit;
				position: relative;

				input {
					@include scut-absolute(0 n 0 0);

					border: none;
					box-shadow: 0px 0px 1px 1px $c-shadow-dark inset;
					color: $c-fg-def;
					font: inherit;
					font-family: inherit;
					font-weight: inherit;
					display: inline-block;
					padding: 0px $quarter-spacing-unit;
				}

				label {
					@include scut-absolute(n n 100% 0);
				}
			}
		}
	}

	.offer--create__form--template,
	.offer--create__form--details {
		@extend .offer--create__form;
	}

	.offer--create__form--template {
		
		.offer__title {
			@extend .offer__header;
		}
	}

}