.page__content__offer--create {
    @extend .page__content__offer;

    // to offer title label be visible
    &,
    .offer__header {
        overflow: visible;
    }

    @mixin parent-width() {
        display: block;
        overflow: hidden;
        width: 100%;
    }

    @include parent-width();

    .offer--create__form {
        .form__field {
           
            & > input {
                border: 1px solid $c-shadow-dark {
                    radius: .4rem;
                    top-left-radius: 0;
                };
                box-shadow: 0px 0px 1px $c-shadow-dark inset;
                color: $c-fg-def;
            }

            & > label {
                @include scut-absolute(n n 100% 0);

                color: $c-fg-def;
                display: none;
                font: {
                    family: $content-font;
                    size: $base-font-size;
                    weight: normal;
                };
                padding: 0 inherit;
                pointer-events: none;
                user-select: none;
            }

            & > input:focus ~ label {
                display: block;
            }
            
            &:after {
                @extend .tooltip--right;
                
                content: attr(data-title);
                margin-left: $quarter-spacing-unit;
                opacity: 0;
                transition: opacity .3s linear 0;
                min-width: 15em;
            }
            
            &:not(.edit-in-place--active):hover:after {
                opacity: 1;
                transition: opacity .3s ease-out $response-delay;
            }
        }

        .edit-in-place--active {
            & > label {
                background-color: $c-fg-acc;
                border: 1px solid $c-shadow-dark {
                    bottom: none;
                    radius: .4rem .4rem 0 0;
                };
                color: $c-bg-acc-light;
            }
        }

        .edit-in-place {
            max-width: calc(100% - #{2 * $base-spacing-unit});
            min-width: 4em;
        }
    }
    .offer--create__form--template,
    .offer--create__form--details {
        @extend .offer--create__form;
    }

    .offer--create__form--template {

        .offer__title {
            @extend .offer__header;

            max-width: calc(100% - #{2 * $base-spacing-unit});
            min-width: 4em;
            overflow: visible;
        }
    }


    $add-button-size: 15rem;
    $images-overflow-mask-width: .4rem;

    .offer__pictures {
        box-sizing: border-box;
        max-width: 100%;
        position: relative;
        white-space: initial;
        width: auto;

        &:after {
            right: $add-button-size; // add button size
        }

        .image-picker__images {
            box-sizing: border-box;
            padding: 0 $images-overflow-mask-width;
            white-space: nowrap;

            &.ps-container .ps-scrollbar-x-rail {
                margin-left: $images-overflow-mask-width;
            }
        }
            
            .image-picker__adder--active {
                margin-right: $images-overflow-mask-width;
            }

                .image-picker__adder__form {
                    margin-left: $images-overflow-mask-width;
                }

                    .image-picker__adder__form__preview {
                        max-width: $add-button-size;
                    }
    }
}
