@import "./page__content__offer__comments__add.scss";

.page__content__offer  {
	.offer__comments {
		margin: $base-spacing-unit * 2 0;
	}

		.offer__comments__header {
			margin-bottom: $quarter-spacing-unit;
			overflow: hidden;
			position: relative;

			&:before {
				top: 50%;
			}

			@include scut-before() {
				background-color: $c-fg-acc;
				display: block;
				height: $rpx;
				left: 0;
				margin-top: -($rpx / 2);
				position: absolute;
				right: 0;
				z-index: 0;
			}

			h3 {
				background-color: $c-bg-light;
				color: $c-fg-acc;
				display: inline-block;
				margin-left: $base-spacing-unit;
				padding: 0 $quarter-spacing-unit;
				position: relative;
				z-index: 1;
			}
		}

		.offer__comments__list {
			@include scut-list-unstyled();

			margin-left: $base-spacing-unit;

			.offer__comments__list {
				margin-left: $base-spacing-unit * 3.5;				
			}
		}
			
			
			.offer__comments__comment {
				margin-top: $base-spacing-unit;
			}

			.comment--offer-author-comment {
				.comment__header:after {
					background-color: $c-fg-acc;
				}
				
				.comment__author__name {
					color: $c-fg-acc;
				}
			}
}