.page__content__offer  {
	.offer__comments {
		margin: $base-spacing-unit * 2 0;
	}

		.offer__comments__header {
			margin-bottom: $quarter-spacing-unit;
			overflow: hidden;
			position: relative;

			&:before {
				top: 50%;
			}

			@include scut-before() {
				background-color: $c-fg-acc;
				display: block;
				height: $rpx;
				left: 0;
				margin-top: -($rpx / 2);
				position: absolute;
				right: 0;
				z-index: 0;
			}

			h3 {
				background-color: $c-bg-light;
				color: $c-fg-acc;
				display: inline-block;
				margin-left: $base-spacing-unit;
				padding: 0 $quarter-spacing-unit;
				position: relative;
				z-index: 1;
			}
		}

		.offer__comments__list {
			@include scut-list-unstyled();

			margin-left: $base-spacing-unit;

			.offer__comments__list {
				margin-left: $base-spacing-unit * 3.5;				
			}
		}
			.offer__comments__comment {
				$border-radius: .4rem;

				margin-top: $base-spacing-unit;

				.comment {
					@include scut-before() {
						@include scut-absolute(0 0 n (2 * $base-spacing-unit));

						background-color: $c-bg-dark;
						height: .2rem;
						z-index: 1;
					}

					overflow: hidden;
					position: relative;
				}

				.comment--offer-author-comment {
					&:before {
						background-color: $c-fg-acc;
					}
					
					.comment__author__name {
						color: $c-fg-acc;
					}
				}

				.comment,
				.comment__header {
					border-top-right-radius: $border-radius;
				}
					
				.comment__header,
				.comment__header:before,
				.comment__content {
					background-color: $c-bg-acc-light;
					border-color: $c-bg-dark;
				}

				.comment__content {
					
				}

				.comment__author {
					
				}
					.comment__author__name {
						@extend strong;	
					}

					.comment__author__avatar:before {
						box-shadow: 0 0 .4rem .1rem $c-shadow-dark inset;
					}

				.comment__time {
					color: $c-fg-def-light;

					&:before {
						margin: 0 $quarter-spacing-unit;
					}
				}

				.comment__nav {

				}
					.comment__nav__answer {
						@include hover-effect--show-text($base-line-height, $base-font-size * 12);

						&:not(:hover) {
							color: $c-fg-def-light;
						}
					}
			}
}