.page__content__offer {
	$height: 15rem;
	$images-overflow-mask-width: .4rem;

	.offer__pictures {
		@extend .photo-gallery--inline;

		height: $height;
	}
		.offer__pictures__wrapper {
			position: relative;

			&:before,
			&:after {
				width: $images-overflow-mask-width;
				z-index: 1;
			}

			@include scut-before() {
				@include scut-absolute(0 n 0 0);

				background-image: linear-gradient(to right, $c-bg-acc-light 0%, rgba($c-bg-acc-light, 0) 100%);
			}

			@include scut-after() {
				@include scut-absolute(0 0 0 n);

				background-image: linear-gradient(to left, $c-bg-acc-light 0%, rgba($c-bg-acc-light, 0) 100%);
			}
		}

		.offer__pictures__list {
			box-sizing: border-box;
            overflow: hidden;
            padding: 0 $images-overflow-mask-width;
			position: relative;
            white-space: nowrap;

            &.ps-container .ps-scrollbar-x-rail {
                margin-left: $images-overflow-mask-width;
            }
		}
			.offer__pictures__picture {
				@extend .photo-gallery__photo;

				margin-right: $quarter-spacing-unit;

				& > img {
					border: 1px solid $c-shadow-dark;
					box-sizing: border-box;
					display: block;
					height: $height;
				}
			}
}