.button {
    background-color: $c-bg-light;
	border: 1px solid $c-fg-def {
		radius: .2em
	};
	color: $c-fg-def;
	cursor: pointer;
	display: inline-block;
	padding: 0 $quarter-spacing-unit;
    
	&:focus {
		outline: none;
	}
}

.button--call-to-action, .button--primary {
	@extend .button;

	background-color: $c-fg-acc;
	border: 1px solid $c-fg-acc {
		radius: .4em
	};
	color: $c-bg-light;
	box-shadow: 0 0 .25em $c-shadow-dark;
	box-sizing: border-box;
	display: block;
	padding: $half-spacing-unit $base-spacing-unit;

	&:disabled {
		background-color: $c-fg-acc-desaturated;
	}
}

.button--secondary {
	@extend .button;

	box-shadow: 0 0 .25em $c-shadow-dark;
	box-sizing: border-box;
	padding: $quarter-spacing-unit $half-spacing-unit;
}

.button--ico {
    @extend .button;

	&:before {
		@extend .fa;

		border: none {
			right: 1px solid $c-bg-light;
		};
		margin-right: $half-spacing-unit;
		padding-right: $half-spacing-unit;
	}
}

.button--ico--add {
	@extend .button--ico;

	&:before {
		@extend .fa-plus;

		line-height: 0.85;
	}
}

.button--ico--close {
	@extend .button--ico;

	&:before {
		@extend .fa-times;
	}
}

.button--ico--facebook {
	@extend .button--ico;

	&:before {
		@extend .fa-facebook;
	}
}

.button--ico--facebook-square {
	@extend .button--ico;

	&:before {
		@extend .fa-facebook-square;
	}
}

.button--ico--gift {
	@extend .button--ico;

	&:before {
		@extend .fa-gift;
	}
}

.button--ico--github {
	@extend .button--ico;

	&:before {
		@extend .fa-github;
	}
}

.button--ico--like {
	@extend .button--ico;

	&:before {
		@extend .fa-thumbs-up;
	}
}

.button--ico--order {
	@extend .button--ico;

	&:before {
		@extend .fa-shopping-cart;
	}
}

.button--ico--power-off {
	@extend .button--ico;

	&:before {
		@extend .fa-power-off;
	}
}

.button--ico--search {
	@extend .button--ico;

	&:before {
		@extend .fa-search;
	}
}

.button--ico--trash {
	@extend .button--ico;

	&:before {
		@extend .fa-trash-o;
	}
}

.button--empty {
	&.button--ico:before {
		border-right: none;
	    margin-right: 0;
	    padding-right: 0;
	}
}

@mixin hover-effect {
    @include scut-after();
}

@mixin hover-effect--expand {
    @include hover-effect();
    
    position: relative;
    z-index: 0;
    
    &:after {
        @include scut-absolute(50% 50% 50% 50%);
        
        border-radius: 50%;
        transition: all .1s linear;
        z-index: -1;
    }
    
    &:hover:after {
        @include scut-absolute(0 0 0 0);
        
        border-radius: 0;
        transition: all .2s ease-out;
        
        @content;
    }
}

@mixin hover-effect--colorize($color) {
	transition: color .1s linear;

    &:hover {
        color: $color;
        transition: color .2s ease-out;
        
        @content;
    }
}
